$primary: #30b37c;
$body-bg: #f8f8f0;
$secondary: #30b37c;

.ql-toolbar {
  background-color: #fff;
}

#main-content {
  margin-top: 30px;
}

#editor {
  height: 800px;
  max-height: 65%;
}

.tab-pane {
  overflow-y: auto;
  max-height: 75vh;
}

.generate-button-show {
  display: flex;
}

.generate-button-hide {
  display: none;
}

@import "../node_modules/bootstrap/scss/bootstrap";
