

#main-content {
  margin-top: 56px;
}

#editor {
  height: 800px;
  max-height: 70%;
}

#pills-edit,
#pills-suggest {
  background-color: rgba(224, 224, 225, 0.331);
}

.brbr {
  height: 300px;
}

.tab-pane {
  overflow-y: auto;
  max-height: 75vh;
}

.generate-button-show {
  display: flex;
}

.generate-button-hide {
  display: none;
}

.modal {
  height: 500px;
}

.thumbs {
  margin: 20px;
}

.thumb {
  padding: 10px;
  margin: 20px;
  position: relative;
}

.show-thumb {
  display: inline-block;
}

.hide-thumb {
  display: none;
}