

#main-content {
  margin-top: 56px;
}

#editor {
  height: 800px;
  max-height: 70%;
}

#pills-edit,
#pills-suggest {
  background-color: rgba(224, 224, 225, 0.331);
}

/*
.navbar {
  background-color: #DBE6D4;
}
*/

.brbr {
  height: 300px;
}

.editing-list {
  
}

.suggestion-list {

}

.tab-pane {
  overflow-y: auto;
  max-height: 75vh;
}

